<aside class="right">
	<div class="about_c">
		<p>
			网名：
			<span>
				{{.options.nickname}}
			</span>
		</p>
		<p>
			籍贯：广西 玉林 陆川
		</p>
		<p>
			现居：广州市—天河区
		</p>
		<p>
			职业：PHP、GO攻城师
		</p>
		<p>
			爱好：音乐
		</p>
		<p>
			运动：睡觉、乒乓球
		</p>
		<p>
			喜欢的音乐：《我做不到不像你》
		</p>
		<p>
			喜欢的动漫：《死神》《网球王子》
		</p>
		<p>
			<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=0OLj4Ojp5eLi4OWQoaH_s7_9" style="text-decoration:none;">
				<img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/>
			</a>
		</p>
	</div>
	
	<div>
		<img src="/views/home/images/aboutphoto.jpg" class="aboutme"/>
	<div/>
</aside>