<aside class="right">
    <div class="about_c">
        <p>
        网名：
        <span>
        {{.options.nickname}}
        </span>
        </p>
        <p>
        生日：农 2-28
        </p>
        <p>
        籍贯：广西 玉林 陆川
        </p>
        <p>
        现居：广州市—天河区
        </p>
        <p>
        职业：PHP攻城师  GO爱好者
        </p>
        <p>
        爱好：吃小吃、旅行、音乐
        </p>
        <p>
        运动：羽毛球、乒乓球
        </p>
        <p>
        喜欢的音乐：《我做不到不想你》
        </p>
        <p>
        喜欢的动漫：《死神》《网球王子》
        </p>
    </div>
    <div class="aboutme">
        <!--      -->
        <div/>
        </aside>