<h1 class="t_nav">
	<span>
		你，生命中最重要的过客，之所以是过客，因为你未曾为我停留。
	</span>
</h1>
<div class="book left">
	<div  style="font-size: 19px;line-height: 30px;text-indent: 2em;background-color: #fff;padding: 6px;border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;">
		<p>
			27岁，对于男人和女人来说一道分水岭，男人从27岁才开始真正的成长，女人从27岁开始青春美貌逐渐消退。然而，很多女人会选择在27岁时跟男友说分手，他让她看不到未来，她已然不能再等。
		</p>
		<p>
			﻿女人一生美丽的巅峰是在27岁，此后，美丽的容貌状态便开始呈现逐渐递减的态势。男人一生魅力的开始是在27岁，此后，之前的幼稚慢慢退却，成熟气质开始占领高地。这就是让男人女人又爱又恨的“27岁定律”。
		</p>
		<p>
			从生理角度看，女人的成熟要早于男人。通常一个女人在25岁左右，对新奇的服饰妆容兴趣开始降低，开始厌烦无规律的夜生活，并且会向往婚姻。
		</p>
		<p>
			男人从27岁开始，才会慢慢开始想到结束之前一些幼稚且无规律的生活习惯，但也仅仅只是开始，他们的真正成长，还是要等到婚后孩子的出生，才慢慢懂得承担更多责任，丢弃更多不良生活习惯。男人，通常会从男孩直接长成父亲。
		</p>
		<p>
			不止是心智方面的成熟，男人比女人要晚。事业方面更是如此。
		</p>
		<p>
			在事业成就方面，男人的成功总体要比女人晚十年。很多女孩一出校门，便能够找到相对光鲜的职业。男人往往要年近三十岁、退去了青涩之后，好的职业机会才会垂青于他。
		</p>
		<p>
			生活中，很多年龄相仿的情侣，从学校里便开始了恋情，但往往都熬不过27岁。
		</p>
		<p>
			很多女人会选择在27岁时跟男友说分手，他让她看不到未来，她已然不能再等。尤其，28岁，对女人，意味着衰老的开始。
		</p>
		<p>
			女人觉得自己在青春的底线时作了个正确的选择，但之后的现实往往朝着她意外的方向发展：27岁后，被她甩掉的那个男人会越来越出色；27岁后，原本出色的她却开始越来越贬值……其实，如果她再耐心一点，那个男人终究不会让她太失望……但，女人，熬不过27岁这道坎，便也跟幸福有了第一次的擦肩。
		</p>
		<p>
			对于每个人而言，27岁，都是魔鬼的27岁。人从27岁开始，推理能力、空间想象力、认知能力、思维速度……都开始呈现衰退态势。
		</p>
		<p>
			尤其是女人，要比男人更惧怕“27岁定律”，单从外貌上看，便已经“青春颓势无可挽留”了……27岁后，女人想找到比之前更好的男人，除了能力，更得靠运气了。
		</p>
		<p>
			对男人而言，生活比生命现实。
		</p>
		<p>
			﻿对女人而言，生理比生活残酷。
		</p>
		<p>
			﻿“姑娘你芳龄多少？”
		</p>
		<p>
			﻿如果你答：“我27岁。”
		</p>
		<p>
			那么，接下来，我要说：“享受27岁这一年。而后，更加清醒地去过现实生活吧。”
		</p>
		<p>
			如果你是男孩，或许因为事业亦或家庭上的原因，你无法在她27岁前娶她，如果她也愿意等待，那么请您一定不要辜负！请您记住：女孩27岁后等你的每一年，都是她拿自己的下半辈子在赌的。
		</p>

	</div>
	<div class="ds-thread">
	</div>
</div>