<header>
	<div id="logo">
		<a href="/"></a>
	</div>

  	<nav class="topnav" id="topnav">
	    <a href="/"><span>首页</span><span class="en">Index</span></a>
	    <a href="/about.html"><span>自恋一下</span><span class="en">About Me</span></a>
	    <a href="/life.html"><span>千锤百炼</span><span class="en">Life</span></a>
	    <a href="/mood.html"><span>激情澎湃</span><span class="en">Doing</span></a>
	    <a href="/album.html"><span>纪念曾经</span><span class="en">Share</span></a>
	    <a href="/book.html"><span>品茶论道</span><span class="en">Gustbook</span></a>
  	</nav>
</header>