<header>
    <div id="logo">
        <a href="/"></a>
    </div>
    <nav class="topnav" id="topnav">
        <a href="/"><span>首页</span><span class="en">Hongic</span></a>
        <a href="/life.html"><span>千锤百炼</span><span class="en">I T</span></a>
        <a href="/mood.html"><span>激情澎湃</span><span class="en">Idea</span></a>
        <a href="/album.html"><span>纪念曾经</span><span class="en">Once Nice</span></a>
        <a href="/book.html"><span>品茶论美</span><span class="en">Discuss</span></a>
    </nav>
</header>