<header>
    <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav">
        <a href="/"><span> 首 页 </span><span class="en">Index</span></a>
        <a href="/life.html"><span>千锤百炼</span><span class="en">Life</span></a>
        <a href="/mood.html"><span>千言万语</span><span class="en">Idea</span></a>
        <a href="/album.html"><span>纪念曾经</span><span class="en">Photo</span></a>
        <a href="/book.html"><span>品尝论道</span><span class="en">Discuss</span></a>
    </nav>
</header>